* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}


.container {
    width: 370px;
    height: 420px;
    background-color: wheat;
    padding: 1%;
    padding-top: 0px;
    border: 10px;
    border-radius: 30px;
    background-image: repeating-linear-gradient(to right, tan, wheat);
    box-shadow: 8px 8px  8px rgb(37, 32, 25);
    
}

h2 {
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 5px;
    border: 0px;
    border-radius: 50%;
    text-shadow: 2px 2px 2px;
    box-shadow: 2px 2px 2px tan;
    
}

input {
    width: 95%;
    height: 60px;
    border-radius: 5px;
    font-size: large;
    text-align: end;
}

button {
    background-color: aqua;
    padding: 10px;
    margin: 4px;
    border-radius: 50%;
    font-size: 15px;    
}


[class*="row-"] {
    width: 90%;
    margin: 5px;
}